# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/weather_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=weather_db

# Security
SECRET_KEY=supersecretkey_change_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Brokers
CELERY_BROKER_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
